extends home

block main
  h1= title
  div#pictureContainer
  h1= title
  if (listing.length > 0)
    for item in listing
      if item.src
        ul.user-details.listing-fonts
          li
            if item.caption
              a(title='/picture/' + item._id, class='text-center pictureLink') #{item.caption}
            else
              a(title='/picture/' + item._id, class='text-center pictureLink') #{item.src}
          if title == 'Newsfeed'
            li
              a(href='/user/' + item._creator, class='listing-fonts') By: #{item._creator}
          br
      else
        ul.user-details.listing-fonts
          li
            a(href='/status/' + item._id, class='status') #{item.input}
          if title == 'Newsfeed'
            li
              a(href='/user/' + item._creator, class='listing-fonts') By: #{item._creator}
          br


