extends home

block main
  div#pictureContainer
  h1= title
  if (listing.length > 0)
    for item in listing
      if item.src
        ul.user-details.listing-fonts
          div.status_container
            li
              if item.caption
                a(href='/picture/' + item._id, class='text-center pictureLink')
                  img(class="mediumImage", id="image"+ item._id, src="https://s3-us-west-2.amazonaws.com/clarkedbteer/"+item.src)
              else
                a(href='/picture/' + item._id, class='text-center pictureLink') #{item.src}
            if title == 'Newsfeed'
              li
                a(href='/user/' + item._creator, class='listing-fonts') By: #{item._creator}
            br
      else
        ul.user-details.listing-fonts
          div.status_container
            li
              a(href='/status/' + item._id, class='status') #{item.input}
            if title == 'Newsfeed'
              li
                a(href='/user/' + item._creator, class='listing-fonts') By: #{item._creator}
            br


