extends layout

block content
  div.container
    div.row
      div.col-sm-6.col-md-4.col-md-offset-4
        #user
          a(href='/home', class='text-center new-account') Home
          h1.text-center.login-title Welcome #{user.firstName}. Check your details below:
            div.signup-wall(style="background: #{user.backgroundColor}")
              ul.user-details
                li First Name ---> #{user.firstName}
                li Last Name ---> #{user.lastName}
                li Username ---> #{user.username}
                li Email ---> #{user.email}
                li DOB ---> #{user.dob}
            a(href='/signout', class='text-center new-account') Sign Out
            a(href='/user', class='text-center new-account') All Users


