extends home

block main
  #user
    a(href='/user', class='text-center new-account') All Users
    ul.user-details(style="background: #{otherUser.backgroundColor}")
      li #{otherUser.firstName}
      li #{otherUser.lastName}
      li #{otherUser.username}
      li #{otherUser.email}
      li #{otherUser.dob}




